.input{
    width: 75%;
    transform: translateY(5rem);
    margin: 20px;
   padding: 10px;
   border-top: none;
   border-left: none;
   border-right: none;
  
border-width: 0.1px;
}
.button{
    transform: translateY(5rem);
    background-color: #1ABC9C;
    color: white;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem;
    
}
